*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222222;
    min-height: 20vh;
}
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
section .side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .side video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .side#side1{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}
section .side#side2{
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.content{
    margin-left: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100vh;
    padding: 90px;
    margin-top: 120vh;
}
.content h2{
    font-size: 3em;
    
}
.content p{
    font-size: 1.8em;
}
.img{
    object-fit: cover;
}